@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
	position: absolute;
    top: 110px;
    left: 48%;
    width: 45px;
    height: 45px;
    color:rgba(255,255,255,.5);
    background-size: contain;
    z-index: 9;
}

.arrow a{
	width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 45px;
    color: #ffffff;
}

.arrow-right{
	position: absolute;
    top: 50px;
    right: 2%;
    width: 45px;
    height: 45px;
    color:rgba(255,255,255,.5);
    background-size: contain;
    z-index: 9;
}

.arrow-right a{
	width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 45px;
    color: #ffffff;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}